.app.journal-entry .journal-entry-content {

  .flbr-story {
    margin: 1.2em 0;
    font-style: italic;

    p:first-of-type {
      text-indent: 0;
    }
  }

  table.countdown-events {
    tbody {
      vertical-align: top;
    }
    tr td:not(:first-child),
    tr th:not(:first-child) {
      text-align: center;
    }
  }
}
