<div class="blade-runner chat-card actor-crit">
	<div class="card-content">
		<div class="flexrow align-center" style="margin: .5em 0;">
			<img src="{{img}}" class="flex-0" style="margin-right: 8px;" width="32" height="32"/>
			<div>
				<p style="margin: 0;">{{{result}}}</p>
			</div>
		</div>
	</div>
</div>
