.blade-runner.choice-dialog {
  .dialog-buttons {
    flex-direction: column;
    gap: 8px;
    margin: 5% 10%;
  }
  .dialog-button {
    line-height: 1.20;

    .attack-description {
      font-weight: normal;
      font-size: 90%;

      code {
        font-weight: bold;
        color: var(--color-blue);
      }
      em {
        color: var(--color-blue);
      }
    }
  }
}
