@use "../utils";

.blade-runner.roll-application {
  // .sheet-header {
  //   color: var(--color-skin);
  //   text-align: center;
  //   margin-bottom: 10px;
  // }
  .sheet-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
  }
  .sheet-footer {
    margin-top: 30px;
  }

  /* ------------------------------------------ */

  .dice {
    grid-column: 1 / -1;

    .die-box {
      border-radius: 10px;
      font-family: var(--font-table);
      font-size: var(--font-size--large);
      color: var(--color-blue-darker);
      display: flex;
      align-items: center;
      justify-content: center;
      $h: 100px;
        height: $h;
        width: $h * 2/3;
      
      @each $d in (6, 8, 10, 12) {
        &.die-d#{$d} {
          background: center / contain no-repeat url("./assets/icons/d#{$d}-grey.svg");
        }
      }

      &.empty { float: right; }
      + .die-box { margin-left: 4px; }
    }
  }
  .modifiers {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 4px;

    h3,
    .total {
      grid-column: 1 / -1;
    }
    h4:not(:first-of-type),
    .modifier-value {
      text-align: center;
    }
    .modifier-name,
    .modifier-value {
      color: var(--color-blue-lighter);
      line-height: 1.8;
    }
  }
  .max-push {
    > div { margin-top: 4px; }
    input[type=number] { width: 42px; }
    input[type=checkbox] { margin-left: 10px; }
    .checkbox-label {
      font-family: var(--font-header);
      color: var(--color-blue);
      line-height: 1.8;
    }
  }
}