@use "../utils";
$gap: 4px;

.blade-runner {
  &.window-app .window-content > * {
    height: 100%;
  }
}

.app.window-app.dialog,
.app.window-app.journal-sheet,
.app.window-app.blade-runner {
  color: var(--color-foreground);
  border: 1px solid var(--color-blue-darker);
  border-radius: $gap;
  background-image: url("./assets/character-sheet-background.webp");
  background-position: top center;
  background-size: cover; // 100% 100%
  background-repeat: no-repeat;
  background-color: var(--color-background);

  /* ------------------------------------------ */

  .editor {
    @include utils.border-sheet(2px);
    @include utils.input-background;
    color: var(--color-black);
    font-family: var(--font-editor);
    margin-top: $gap;
    padding: $gap;
    p {
      color: var(--color-blue-darker);
    }
  }
  input,
  select {
    @include utils.input-background;
    color: var(--color-black);
    font-family: var(--font-table);
    text-align: center;
  }
  select, img {
    border: none;
  }
  p {
    color: var(--color-blue-lighter);
  }
  label {
    color: var(--color-green);
    font-family: var(--font-table);
    font-size: var(--font-size--very-small);
    text-transform: uppercase;
    text-align: center;
  }
  .button,
  .dialog-button {
    @include utils.boxed-property;
    border-radius: 4px;
    font-family: var(--font-table);
    color: var(--color-green);

    &:hover {
      border-color: var(--color-red);
      color: var(--color-red);
    }
    &:disabled,
    &.disabled {
      border-color: var(--color-disabled);
      color: var(--color-disabled);
    }
  }

  /* ------------------------------------------ */

  h1, h2, h3, h4, h5, h6 {
    color: var(--color-blue);
    font-family: var(--font-header);
    font-weight: 100;
    // line-height: 1;
    text-decoration: none;
    margin: 0;
    border: none;
  }

  h1, h2, h3, h4 {
    text-transform: uppercase;
  }

  h1 { font-size: var(--font-size--extra-large); }
  h2 { font-size: var(--font-size--large); }
  h3 { font-size: var(--font-size--default); }
  h4 { font-size: var(--font-size--small); }
  h5 { font-size: var(--font-size--very-small); }
  h6 { font-size: var(--font-size--extra-small); }
  
  /* ------------------------------------------ */

  .capacity-boxes {
    display: block;
    color: var(--color-green);
    white-space: nowrap;
    line-height: 0;
  }
  .boxed-value {
    @include utils.boxed-property;
    @include utils.input-background;
    border-radius: $gap;
    text-align: center;
  }
  .boxed-property {
    @include utils.boxed-property;
  }
  // .btn {
  //   color: var(--color-blue);
  // }
  .rollable {
    cursor: pointer;
    &:hover {
      text-shadow: 0 0 8px var(--color-shadow-primary);
      box-shadow: 0 0 8px var(--color-shadow-primary);
    }
  }

  /* ------------------------------------------ */

  .window-header {
    border: none;

    // h4 {
    //   opacity: 0;
    // }
    a.header-button {
      // Thanks to Forbidden Lands FVTT Devs!
      display: flex;
      flex: none;
      flex-flow: row-reverse;
      max-width: 24px; // 34px;
      height: 32px;
      white-space: nowrap;
      // line-height: 1;
      overflow: hidden;
      padding: 0 4px;
      margin: 0 0 0 2px;
      color: transparent;
      transition: max-width 1s ease;

      &:hover {
        max-width: 200px;
        color: var(--color-blue);
      }
      > i {
        font-size: var(--font-size--small);
        color: var(--color-blue);
        margin: 8px 0 0 8px;
      }
    }
  }

  /* ------------------------------------------ */

  .window-content {
    padding: $gap;
    background: none;
    overflow: hidden;

    .tab {
      overflow-y: auto;
      height: 100%;
    }

    .sheet-tabs {
      display: flex;
      justify-content: space-around;
      font-family: var(--font-header);
      font-weight: bold;
      text-transform: uppercase;
      padding: $gap;
      margin-top: $gap;
    }
    .sheet-tab {
      color: var(--color-blue);
    }
    .sheet-tab.active {
      color: var(--color-red);
      border-bottom: 2px solid var(--color-red);
    }

    // .sheet-body {
    //   height: 100%;
    // }
  }
}