@use "../utils";

/* ------------------------------------------ */
/*  All Chat Cards                            */
/* ------------------------------------------ */

#chat-form textarea {
  @include utils.border-sheet;
  @include utils.input-background;
}

.chat-message {
  font-family: var(--font-table);
  // font-weight: bold;
  border: 1px solid var(--color-blue-lighter);
  border-radius: 0;
  background-color: var(--color-background);
  background-image: url("./assets/textures/character-sheet-background.webp");
  background-position: top center;
  background-size: cover; // 100% 100%;
  background-repeat: no-repeat;
  color: var(--color-blue-lighter);

  &.message.whisper {
    border: 1px solid var(--color-skin);
    background-image: url("./assets/textures/chat-card-background.webp");
    background-position: top center;
    background-size: cover; // 100% 100%;
    background-repeat: no-repeat;
    color: var(--color-skin);
  }

  /* ------------------------------------------ */

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-table);
    color: var(--color-red);
  }

  h1, h2, h3 {
    font-weight: bold;
    letter-spacing: 1px;
  }

  img {
    border: none;
    max-height: 100px;
  }

  hr {
    border: none;
    border-top: 1px solid var(--color-blue);
  }

  /* ------------------------------------------ */

  a.content-link,
  a.inline-roll,
  a.inline-table {
    border: 1px solid var(--color-blue-darker);
    border-radius: 4px / 12px;
    background-color: var(--color-black);
    font-weight: bold;
    color: var(--color-green);
    letter-spacing: -1px;
    padding: 2px 6px 0 6px;
    i { color: inherit; }
    &:hover {
      border-color: var(--color-yellow);
      color: var(--color-red);
      i { color: var(--color-yellow); }
    }
  }

  a.nue-tab,
  a.nue-action,
  a[href] {
    color: var(--color-blue);
  }

  a.button, button {
    color: var(--color-green);
  }

  /* ------------------------------------------ */

  .message-header {
    color: var(--color-disabled);
  }

  .message-metadata {
    opacity: 0;
  }
  &:hover .message-metadata {
    opacity: 1;
    transition: opacity 500ms ease;
  }

  .photo {
    margin-top: 10px;
  }

  .details {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 16px;
    color: var(--color-green);
    .modifiers {
      color: var(--color-blue)
    }
    .special {
      @include utils.text-stroke;
      color: var(--color-red);
    }
  }

  fieldset.item-attack {
    background-color: var(--color-black);
    border: 1px solid var(--color-blue);
    margin: 4px 0 0 0;
  }

  .chat-card-footer {
    color: var(--color-white);
    font-size: var(--font-size--extra-small);
    font-weight: normal;
  }
}

/* ------------------------------------------ */
/*  Actor Damage Chat Cards                   */
/* ------------------------------------------ */

.chat-message .actor-damage {
  .broken {
    color: var(--color-red-darker);
    font-weight: bold;
  }
  .notes, .hint {
    font-weight: normal;
    line-height: 1;
  }
}

/* ------------------------------------------ */
/*  Roll Chat Cards                           */
/* ------------------------------------------ */

.chat-message .yzur {
  @each $d in (6, 8, 10, 12) {
    .d#{$d}bladerunnerdie.min {
      font-family: "Blade Runner Symbols";
    }
  }
}

.chat-message .yzur {
  .dice-flavor {
    color: unset;
    text-align: left;
  }
  .dice-formula, .dice-total {
    border-right: 1px solid var(--color-border);
    border-left: 1px solid var(--color-border);
    background-color: #111; //var(--color-background);
    box-shadow: none;
    padding: 4px;
  }
  .dice-formula {
    border-top: 1px solid var(--color-border);
    border-bottom: none;
    margin: 0;
  }
  .dice-total {
    border-top: none;
    border-bottom: 1px solid var(--color-border);
    color: var(--color-disabled);
  }
  .dice-result {
    color: var(--color-blue);
    cursor: pointer;
  }
  .success { color: var(--color-green); }
  .failure { color: var(--color-red); }

  .tooltip-parts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 4px;
    padding: 10px;
    background-color: var(--color-background);
    border-left: 1px dashed var(--color-disabled);
    border-right: 1px dashed var(--color-disabled);
  }

  .part-header {
    .part-formula {
      display: none;
    }
    .part-flavor {
      color: inherit;
    }
    .part-total {
      color: var(--color-disabled);
      &.success { color: var(--color-green); }
    }
  }

  .dice-rolls {
    .roll.pushed { color: #555; filter: none; }
    .roll.discarded:not(.pushed) { opacity: 0; }
  }

  .dice-infos {
    background-color: var(--color-black);
    border: 1px solid var(--color-blue);
    margin: 4px 0 0 0;
  }

  .dice-info-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 16px;
    color: var(--color-green);
    border: var(--color-blue);
  }

  .roll-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 4px;
    margin-top: 4px;
  }
  .roll-button {
    flex-grow: 1;
    font-size: var(--font-size--extra-small);
    line-height: 1;

    &:not(:disabled) {
      border: 1px solid var(--color-blue);
    }
  }
}
