@use "sass:math" as math;

.blade-runner {
  .flex { display: flex; }
  .flex-1 { flex: 1; }
  .row { flex-direction: row; }
  .column { flex-direction: column; }
  .wrap { flex-wrap: wrap; }
  .grow { flex-grow: 1; }
  .center { text-align: center; }
  .align-center { align-items: center; }
  .align-end { align-items: flex-end; }
  .space-around { justify-content: space-around; }
  .space-between { justify-content: space-between; }
  .justify-start { justify-content: flex-start; }
  .justify-center { justify-content: center; }
  .justify-end { justify-content: flex-end; }
  .flex-half { flex: 0 0 50% }
  .margin { margin: 4px; }
  .padding { padding: 4px; }
  .full {
    width: 100%;
    height: 100%;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
  }

  .grid-column-all {
    grid-column: 1 / -1;
  }

  /**
   * Creates a range of styles from .col-1 to .col-12
   * for placing flex elements like in a table.
   */
  @for $i from 1 through 12 {
    .col-#{$i} {
      flex: 0 0 auto;
      width: math.round(($i / 12 * 100%));
    }
  }
}
