/* ------------------------------------------ */
// Blade Runner Symbols

@font-face {
  font-family: "Blade Runner Symbols";
  src: url("./fonts/blade-runner-symbols.ttf");
}

.blade-runner-symbols {
  font-family: "Blade Runner Symbols";
  font-weight: normal;
}
