/* ------------------------------------------ */
// Foundry Gridnik

@font-face {
  font-family: 'Foundry Gridnik';
  src: url("./fonts/foundry-gridnik-bold.otf");
}

// @font-face {
//   font-family: 'Foundry Gridnik';
//   src: url("./fonts/foundry-gridnik-bold.otf");
//   font-weight: bold;
// }

/* ------------------------------------------ */
// URW DIN Condensed

@font-face {
  font-family: "URW DIN Condensed";
  src: url("./fonts/urwdin-cond-regular.ttf");
}

// @font-face {
//   font-family: "URW DIN Condensed";
//   src: url("./fonts/urwdin-cond-medium.ttf");
//   font-weight: bold;
// }

@font-face {
  font-family: "URW DIN Condensed";
  src: url("./fonts/urwdin-cond-black.ttf");
  font-weight: bold;
}

/* ------------------------------------------ */
// Goudy Old Style

@font-face {
  font-family: "Goudy Old Style";
  src: url("./fonts/GOUDOS.TTF");
}

@font-face {
  font-family: "Goudy Old Style";
  src: url("./fonts/GOUDOSI.TTF");
  font-style: italic;
}

@font-face {
  font-family: "Goudy Old Style";
  src: url("./fonts/GOUDOSB.TTF");
  font-weight: bold;
}