@use "../utils";

/* ------------------------------------------ */
/*  Journal Entry Window Apps                 */
/* ------------------------------------------ */

.app.journal-entry {
  border: 1px solid var(--color-blue-darker);
  border-radius: 4px;

  /* ------------------------------------------ */
  // HEADER
  .window-header {
    border: none;

    .window-title {
      font-family: var(--font-header);
      color: var(--color-blue);
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    .header-button {
      @include utils.header-button;
    }
  }

  /* ------------------------------------------ */
  // SIDEBAR
  .journal-sidebar {
    color: var(--color-blue);

    .directory-header .header-search input {
      @include utils.input-background;
      color: var(--color-black);
      font-family: var(--font-table);
      font-weight: bold;
      text-align: center;
      &:disabled,
      &.disabled {
        color: var(--color-disabled);
      }
    }

    .pages-list .directory-item {
      // &.active {
      //   border-color: var(--color-blue-lighter);
      // }
      &.active:first-of-type,
      &.active + :not(.active),
      &:not(.active) + .active {
        border-top-color: var(--color-blue-lighter);
      }
      &.active:last-of-type {
        border-bottom-color: var(--color-blue-lighter);
      }
    }
  }

  .directory .action-buttons button {
    line-height: 1;
  }
}

/* ------------------------------------------ */
/*  Journal Entry Content                     */
/* ------------------------------------------ */

.app.journal-entry .journal-entry-content {
  color: #FFF2DE;
  background-image: url("./assets/journal-sheet-background.webp");
  background-position: top center;
  background-size: cover; // 100% 100%
  background-repeat: no-repeat;
  background-color: var(--color-background);

  .journal-header {
    margin: 4px;

    .title {
      font-family: var(--font-headline);
      font-size: var(--font-size--extra-large);
      // line-height: 26pt;
      color: var(--color-skin);
      text-transform: uppercase;
      word-spacing: 33 * 2 * .01em; // 330%
      letter-spacing: 25 * 2 * .01em; // 250%
      border: none;
      background: transparent;
    }
  }

  .journal-page-header {
    margin-bottom: 2em;
  }

  .journal-entry-page {

    h1 {
      color: var(--color-red);
      font-family: var(--font-headline);
      font-size: var(--font-size--extra-large);
      line-height: 1.25;
      word-spacing: 33 * 2 * .01em; // 330%
      letter-spacing: 25 * 2 * .01em; // 250%
      text-transform: uppercase;
      text-align: center;
      text-shadow: 1px 0 0 #200, 0 -1px 0 #200, 0 1px 0 #200, -1px 0 0 #200;
    }

    h2 {
      color: var(--color-red-darker);
      font-family: var(--font-headline);
      font-size: var(--font-size--large);
      line-height: 1.2;
      word-spacing: 18 * 1 * .01em; // 180%
      letter-spacing: .2em;
      text-transform: uppercase;
      padding-bottom: .25em;
    }

    h3 {
      font-size: 1.3rem;
      line-height: 1.15;
      word-spacing: 23.5 * 2 * .01em;
      letter-spacing: .2em;
      text-transform: uppercase;
    }

    p, li {
      font-family: var(--font-editor);
      font-size: var(--font-size--default);
    }

    code {
      outline: 1px solid var(--color-red);
      background-color: var(--color-black);
      padding: 0 4px;
    }
  }

  figcaption {
    font-family: var(--font-table);
    font-weight: normal;
    color: var(--color-skin);
  }
}
