$slider-size: 12px;
$switch-gap: 3px;

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: $slider-size * 2 + $switch-gap * 2;
  height: $slider-size + $switch-gap * 2;

  &:hover {
    box-shadow: 0 0 1px var(--color-gold);
  }

  /* Hide default HTML checkbox */
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    outline: 1px solid var(--color-blue);
    -webkit-transition: .4s;
    transition: .4s;

    &.red {
      outline-color: var(--color-red-darker);
    }

    &::before {
      position: absolute;
      content: "";
      height: $slider-size;
      width: $slider-size;
      left: $switch-gap;
      bottom: $switch-gap;
      background-color: var(--color-blue);
      -webkit-transition: .4s;
      transition: .4s;
    }

    &.red::before {
      background-color: var(--color-red-darker);
    }
  }

  input:checked + .slider {
    outline-color: var(--color-green);
  }
  
  input:checked + .slider.gold {
    outline-color: var(--color-gold);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--color-gold);
  }
  
  input:checked + .slider::before {
    background-color: var(--color-green);
    -webkit-transform: translateX($slider-size);
    -ms-transform: translateX($slider-size);
    transform: translateX($slider-size);
  }

  input:checked + .slider.gold::before {
    background-color: var(--color-gold);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: $slider-size;
  }
  
  .slider.round::before {
    border-radius: 50%;
  }
}
