.blade-runner.sheet.actor {

  @for $i from 1 through 4 {
    h#{$i} a.btn { float: right; }
  }

  /* ------------------------------------------ */

  .sheet-header {}

  .capacities {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .half {
      $half-color: var(--color-yellow);
      border-color: $half-color;
      h3 { color: $half-color; }
      .capacity-boxes { color: $half-color; }
    }
    .broken {
      $broken-color: var(--color-red-darker);
      border-color: $broken-color;
      h3 { color: $broken-color; }
      .capacity-boxes { color: $broken-color; }
    }
  }
  .capacities .capacity-rating {
    font-size: var(--font-size--large);
    float: right;
  }
  .capacities .loss {
    color: #424242;
  }

  .actions {
    font-family: var(--font-table);
    font-size: var(--font-size--very-small);
    font-weight: bold;
    color: var(--color-green);

    h4 {
      grid-column: 1 / -1;
    }
    a {
      padding: 0 4px;
      border: 1px solid transparent;
      border-radius: 2px;
      white-space: nowrap;
      i {
        opacity: 0;
        width: 0;
        transition: width 250ms ease, opacity 0s;
      }
      &:hover {
        border-color: var(--color-red);
        color: var(--color-red);
        i {
          opacity: 1;
          width: 15px;
          transition: width 250ms ease, opacity 250ms ease .100ms;
        }
      }
    }
  }

  /* ------------------------------------------ */

  .sheet-body {
    // height: 400px;
    // overflow: auto;
    padding-top: 4px;
  }
}
