@use "../utils";
$gap: 4px;

.blade-runner.sheet.item {
  .btn {
    float: right;
  }

  .sheet-body {
    overflow-y: auto;
    max-height: 285px;
  }
  .sheet-header img {
    @include utils.boxed-property(2px, 0);
    width: 200px;
    height: 200px;
  }
  .item-type {
    color: var(--color-blue);
    font-family: var(--font-table);
    font-size: var(--font-size--large);
    font-weight: bold;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    text-align: center;
    width: 100%;
    padding-left: 6px;
  }
  .item-name input {
    @include utils.border-sheet(2px);
    color: var(--color-blue-darker);
    font-family: var(--font-header);
    font-size: var(--font-size--default);
    text-transform: uppercase;
    letter-spacing: 2px;
    height: auto;
    padding: $gap;
    margin: $gap 0 0 0;
  }
  .item-property {
    @include utils.boxed-property(1px, 4px);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: $gap;

    > * {
      flex: 1;
    }
  }
  .item-modifiers {
    margin-top: $gap;
  }
  .item-modifiers-list {
    color: var(--color-blue-lighter);
    display: grid;
    grid-template-columns: 1fr 42px auto;
    gap: 2px;

    .button {
      font-size: var(--font-size--extra-small);
      height: fit-content;
    }
    .empty {
      font-size: var(--font-size--very-small);
    }
  }
}