@mixin border-sheet($x: 1px) {
  border: $x solid var(--color-border);
  border-radius: 0;
}

@mixin input-background() {
  background-image: url("./assets/character-sheet-editor.webp");
  background-size: 100% 100%;
}